.content {
  overflow: hidden;
  height: 100%;
  &__left {
    float: left;
    width: 300px;
    height: 100%;
    .left__header {
      background-color: $background-navy;
      width: 260px;
      height: 100px;
      padding: 0 20px;
      p {
        font-size: 16px;
        font-weight: bold;
        color: $color-white;
        line-height: 100px;
        display: inline-block;
      }
      .awesome-icon {
        float: right;
        p {
          float: left;
          padding-left: 5px;
          }
        a {
          text-decoration: none;
          color: $color-white;
        }
      }
    }
    .left__bottom {
      background-color: $background-left;
      width: 300px;
      height: 100%;
      .group {
        padding: 20px 20px;
        &__name {
          font-size: 15px;
          color: $color-white;
          padding-bottom: 5px
        }
        &__message {
          font-size: 11px;
          color: $color-white;
        }
      }
    }
  }
  &__right {
    height: 100%;
    float: right;
    width: calc(100vw - 300px);
    .right__header {
      border-bottom: 1px solid #eeeeee;
      height: 100px;
      padding: 0px 40px;
        h1 {
          font-size: 20px;
          color: #333333;
          padding: 35px 0 15px 0;
          display: inline-block;
        }
        .header__box {
          display: inline-block;
          float: right;
          line-height: 100px;
          border: solid 1px;
          color: $background-blue;
          height: 40px;
          margin-top: 28px;
          p {
            font-size: 12px;
            padding: 0 20px;
            line-height: 40px;
          }
        }
        .header__member {
          font-size: 12px;
          color: #999999;
          p {
            float: left;
          }
          ul li {
            float: left;
            padding-left: 5px;
          }
        }
    }
    .right__middle {
      padding-top: 26px;
      height: calc(100% - 217px);
      overflow: auto;
      .message {
        padding: 20px 40px;
        &__top {
          h1 {
            font-size: 16px;
            font-style: bold;
            color: $font-color-chat;
            float: left;
          }
          .date {
            font-size: 12px;
            color: $font-color-date;
            float: left;
          }
        }
        &__bottom {
          padding-top: 10px;
          font-size: 14px;
          color: $font-color-chat;
          clear: both;
        }
      }
    }
    .right__footer {
      height: 90px;
      background-color: $background-right-footer;
      .text-box {
        margin: 20px 0 20px 40px;
        float: left;
        font-size: 16px;
        color: $font-color-chat;
        background-color: $color-white;
        width: calc(100% - 176px);
        height: 50px;
        input {
          float: left;
          padding-left: 10px;
          border: solid 1px $color-white;
          height: 48px;
          width: calc(100% - 40px);
        }
        .picture-button {
          float: right;
          line-height: 50px;
          background-color: $color-white;
          label {
            float:right;
            padding-right: 10px;
          }
          .file-uplode {
            display: none;
          }
        }
      }
      .send-button {
        float: right;
        background-color: $background-blue;
        height: 50px;
        margin: 20px 40px 20px 15px;
        input {
          border-style: none;
          background-color: $background-blue;
          line-height: 50px;
          padding: 0 20px;
          color: $color-white;
        }
      }
    }
  }
}
