.content__left
  .left__header
    %p chosen-one
    .awesome-icon
      = link_to '', new_group_path, class:"fa fa-pencil-square-o"
      = link_to '', edit_user_path(current_user), class:"fa fa-cog"
  .left__bottom
    - @groups.each do |group|
      .group
        .group__name
          = group.name
        .group__message
          %p メッセージはまだない
