.content__right
  .right__header
    %h1 グループ名
    .header__box
      = link_to 'Edit', edit_group_path(@group), class:"edit-button"
    .header__member
      %p Member :
      %ul
        %li chosen-one
        %li chosen-one
  .right__middle
    .message
      .message__top
        %h1 発言者の名前
        %p.date 2017/10/01 13:59
      .message__bottom
        %p 発言
    .message
      .message__top
        %h1 発言者の名前
        %p.date 2017/10/01 13:59
      .message__bottom
        %p 発言
    .message
      .message__top
        %h1 発言者の名前
        %p.date 2017/10/01 13:59
      .message__bottom
        %p 発言
  .right__footer
    =form_for @message, url: { controller: "messages", action: "create" } do |f|
      .text-box
        =f.text_field :text, placeholder:"type a message"
        .picture-button
          =f.label :image do
            =f.file_field :image,class:"pic-button"
            %p #{fa_icon "picture-o"}
      .send-button
        =f.submit "Send"
