.content__left
  .left__header
    %p chosen-one
    .awesome-icon
      %p= link_to '',messages_path,class:"fa fa-pencil-square-o"
      %p= link_to '',edit_user_path(current_user.id),class:"fa fa-cog"
  .left__bottom
    .group
      .group__name
        グループ名
      .group__message
        最後の発言
    .group
      .group__name
        グループ名
      .group__message
        最後の発言
    .group
      .group__name
        グループ名
      .group__message
        最後の発言
