.notice
  %p お知らせです

.content
  .content__left
    .left__header
      %p chosen-one
      .awesome-icon
        %p= link_to '',messages_path,class:"fa fa-pencil-square-o"
        %p= link_to '',messages_path,class:"fa fa-cog"
    .left__bottom
      .group
        .group__name
          グループ名
        .group__message
          最後の発言
      .group
        .group__name
          グループ名
        .group__message
          最後の発言
      .group
        .group__name
          グループ名
        .group__message
          最後の発言
  .content__right
    .right__header
      %h1 グループ名
      .header__box
        %p Edit
      .header__member
        %p Member :
        %ul
          %li chosen-one
          %li chosen-one
    .right__middle
      .message
        .message__top
          %h1 発言者の名前
          %p.date 2017/10/01 13:59
        .message__bottom
          %p 発言
      .message
        .message__top
          %h1 発言者の名前
          %p.date 2017/10/01 13:59
        .message__bottom
          %p 発言
      .message
        .message__top
          %h1 発言者の名前
          %p.date 2017/10/01 13:59
        .message__bottom
          %p 発言
    .right__footer
      .text-box
        %input{:placeholder => "type a message", :type => "text"}/
        .picture-button
          %form
            %label
              %p #{fa_icon "picture-o"}
              %input{:class => "file-uplode",:type => "file"}/
      .send-button
        %p Send
