.chat-group-form
  %h1 新規チャットグループ
  =form_for @group, id:"new_chat_group", class:"new_chat_group" do |f|
    -if @group.errors.any?
      .chat-group-form__errors
        -@group.errors.full_messages.each do |message|
          %ul
            %li= message
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label=f.label "グループ名"
      .chat-group-form__field--right
        #chat_group_name
          = f.text_field :name, placeholder:"グループ名を入力してください", class:"chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label=f.label "チャットメンバーを追加"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input{class:"chat-group-form__input", id:"user-search-field", placeholder:"追加したいユーザー名を入力してください"}
          #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label=f.label "追加するチャットメンバー"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          #user-adding
            %div.chat-group-user.clearfix.jschatmember#chat-group-user-8
              %input{ name: "group[user_ids][]", type:'hidden', value:current_user.id }
              %p.chat-group-user__name=current_user.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        / .chat-group-form__action-btn
        = f.submit "Save", class:"chat-group-form__action-btn"
